# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\mywork\ml\csman_json_to_idx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
